<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134981862263-9g88fipkq5ps51ds6upb36n1cpeusoj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134981862263-9g88fipkq5ps51ds6upb36n1cpeusoj5</string>
	<key>API_KEY</key>
	<string>AIzaSyAcR9pnjAnSAS59PbC4C50xlanNPPWH6Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>134981862263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmfield</string>
	<key>PROJECT_ID</key>
	<string>farmfield-64483</string>
	<key>STORAGE_BUCKET</key>
	<string>farmfield-64483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134981862263:ios:6276d55022f22e79279772</string>
</dict>
</plist>